# =====================================================================
# DomF guest configuration
# =====================================================================

seclabel='system_u:system_r:domU_t'

name = "DomF"

kernel = "/usr/lib/xen/boot/linux-domf"
ramdisk = "/usr/lib/xen/boot/domf-uInitramfs.cpio.gz"

extra = "root=/dev/xvda1 ro userdata=/dev/xvda2 rootwait console=hvc0"

memory = 512

vcpus = 1

# Force all VCPUs of DomF to only run on DOMF_ALLOWED_PCPUS PCPUs (A53 cores)
cpus="DOMF_ALLOWED_PCPUS"

disk = [ 'backend=DomD,phy:/dev/STORAGE_PART6,xvda1', 'backend=DomD,phy:/dev/STORAGE_PART7,xvda2' ]

vif = [ 'backend=DomD,bridge=xenbr0,mac=08:00:27:ff:cb:cd' ]

on_crash = 'preserve'

